.auth-page {


    min-height:100vh;


    display:flex;


    justify-content:center;


    align-items:center;



    padding:20px;


    background:

    radial-gradient(

        circle at top,

        #312e81,

        #090b22 50%

    );


}





.auth-card {


    width:100%;


    max-width:420px;


    text-align:center;


}





.auth-card h1 {


    font-size:36px;


    margin-bottom:10px;


}





.subtitle {


    color:#cbd5e1;


    margin-bottom:25px;


}





.auth-card form {


    display:flex;


    flex-direction:column;


}





.auth-card input {


    margin-bottom:15px;


}





.auth-card p {


    margin-top:20px;


}





.auth-card a {


    margin-left:8px;


    font-weight:bold;


}